<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
        var inventoryText = "<strong>Available</strong>";
        if( data["inventory"] == 0 ){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var description = data["description"];
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        descriptionText += "<ul>"
        data["orders"].forEach(function(order) {
          descriptionText += "<li>";
          descriptionText += "Order #" + order["id"]+ ", Created At: " + order["created_at"];
          descriptionText += "</li>";
        });
        descriptionText += "</ul>"
        $("#product-" + id).html(descriptionText);
    });
  });
});
</script>
